body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


#root{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    background-color: white;
    height: 200px;
    width: 400px;
    text-align: center;
    border-radius: 5%;
}

button{
    height: 80px;
    font-size: 20px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 5%;
    
}